<template>
	<li
		:class="[
			'message',
			{'join-message': message.type === 'join'},
			{'leave-message': message.type === 'leave'},
			{'users-message': message.author === user.username}
		]"
	>
		<header>
			<img v-if="!message.type" :src="`https://i.pravatar.cc/30?u=${message.author}`" :alt="message.author">
			<h6 v-if="message.author && !message.type">{{message.author}}</h6>
			<time>{{messageDate}}</time>
		</header>

		<p>
			{{messageText}}
		</p>
	</li>
</template>

<script>
	export default {
		props: {
			message: {
				type: Object,
				required: true
			}
		},
		computed: {
			user () {
				return this.$store.state.user;
			},
			messageText () {
				if (this.message.text) {
					return this.message.text;
				}

				if (this.message.type === 'join') {
					const username = this.message.author === this.user.username ? 'You' : this.message.author;
					return `${username} joined the chat!`;
				}

				if (this.message.type === 'leave') {
					return `${this.message.author} left the chat!`;
				}
			},
			messageDate () {
				return new Intl.DateTimeFormat('uk', {
					timeStyle: 'medium',
					year: '2-digit',
					month: '2-digit',
					day: '2-digit',
					hour: '2-digit',
					minute: '2-digit'
				}).format(new Date(this.message.timestamp));
			}
		}
	}
</script>

<style lang="scss" scoped>
	.message{
		margin-left: auto;
		padding: 12px 15px;
		width: 40%;
		background: #333;
		&:not(:last-child){
			margin-bottom: 30px;
		}

		header{
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		img{
			border-radius: 50%;
			margin-right: 10px;
		}
		h6{
			flex: 1 0;
			font-size: 1.6em;
			font-weight: bold;
			margin: 0;
			margin-right: 15px;
			color: rgba(#eee, .85);
		}
		time{
			font-size: 1rem;
			color: rgba(#eee, .7);
		}
		p{
			margin: 0;
			font-size: 1.4rem;
			color: #eee;
		}

		&.users-message{
			margin-right: auto;
			margin-left: 0;
			background-color: #2266aa;
		}

		&.join-message,
		&.leave-message{
			margin-left: auto;
			margin-right: auto;
			background-color: #22aa66;
			padding: 10px 30px;
			border-radius: 25px;
			text-align: center;
			width: auto;

			header{
				margin-bottom: 5px;
				justify-content: center;
			}
		}
		&.leave-message{
			background-color: #aa3333;
		}
	}
</style>
