<template>
	<form @submit.prevent="sendMessage" @keyup.enter="sendMessage">
		<textarea name="message" v-model="messageText"></textarea>
		<button>Send</button>
	</form>
</template>

<script>
	export default {
		data () {
			return {
				messageText: ''
			}
		},
		computed: {
			username () {
				return this.$store.state.user.username;
			}
		},
		methods: {
			sendMessage () {
				this.$socket.client.emit('send-message', {
					text: this.messageText,
					author: this.username
				});

				// Set to default
				this.messageText = '';
			}
		}
	}
</script>

<style lang="scss" scoped>
	form{
		display: flex;

		textarea{
			flex-grow: 1;
			height: 150px;
			font-size: 1.6em;
			padding: 12px 15px;
			font-family: sans-serif;
		}
		button{
			flex: 1;
			padding: 0 20px;
			font-size: 1.6rem;
			letter-spacing: .15em;
			text-transform: uppercase;
		}
	}
</style>
