<template>
	<section class="room-wrap">
		<ol class="messages-list">
			<li
				is="message"
				v-for="message in messages"
				:key="message.timestamp"
				:message="message"
			>
			</li>
		</ol>

		<MessageForm/>
	</section>
</template>

<script>
	import {logout} from '@/utils/fetch-afterware.js';

	import Message from './Message.vue';
	import MessageForm from './MessageForm.vue';

	export default {
		props: {
			messages: {
				type: Array,
				default: () => []
			}
		},
		computed: {
			user () {
				return this.$store.state.user;
			}
		},
		sockets: {
			connect () {
				this.$socket.client.emit('authenticate', {token: this.$cookies.get('tkn')});
			},
			authenticated () {
				this.$socket.client.emit('join', this.user.username);
			},
			unauthorized (errorMessage) {
				if (errorMessage.data.type == 'UnauthorizedError' || errorMessage.data.code == 'invalid_token') {
					// TODO: add notification about bad credentials
				}

				logout.call(this);
			},
			join (message) {
				this.messages.push(message);
			},
			messagePosted (message) {
				this.messages.push(message);
			},
			leave (message) {
				this.messages.push(message);
			}
		},
		components: {
			Message,
			MessageForm
		},
		async created () {
			this.$socket.client.connect();
		},
		beforeDestroy () {
  		if (this.$socket.connected) {
				this.$socket.client.disconnect();
			}
		}
	}
</script>

<style lang="scss" scoped>
	.room-wrap{
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 auto;
		width: 800px;
	}
	ol{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1;
		padding: 30px 15px;
		list-style: none;
		background: #ccc;
	}
</style>
