<template>
	<section v-if="isLoading" class="loading-section">
		<div class="loading-icon"></div>
	</section>

  <div v-else class="home">
		<Room :messages="messages"/>
  </div>
</template>

<script>
import {unauthorizedCheck} from '@/utils/fetch-afterware.js';

import Room from '@/components/chat/Room.vue';

export default {
	data () {
		return {
			isLoading: true,
			messages: []
		}
	},
	async created () {
		try{
			const result = await fetch('http://localhost:8888/api/messages', {
				method: 'GET',
				headers: {
					'Authorization': `Bearer ${this.$cookies.get('tkn')}`
				}
			});

			if(!result.ok) {
				return unauthorizedCheck.call(this, result);
			}
			const {data} = await result.json();

			this.isLoading = false;
			this.messages = data.messages;
		} catch (err) {
			console.error(err);
		}
	},
	components: {
		Room
	}
};
</script>

<style lang="scss" scoped>
	.home{
		flex: 1;
	}
</style>
